@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
button,
input,
select {
  cursor: pointer;
}
.login {
  padding-inline: 5px;
  padding-block: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.ant-btn-primary {
  background-color: black !important;
}
input[type="date"] {
  height: 30px;
  padding-inline: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* .ant-table-tbody > tr > td {
  background: #eaeaea;
  color: #000;
}
.ant-table-tbody > tr:hover > td {
  background: #d6d6d6 !important;
  transition: background 0.2s ease;
} */
.ant-table-tbody > tr:hover > td {
  background: inherit !important;
}
